body {
  font-family: "Kanit", sans-serif;
  background:radial-gradient(125% 125% at 50% 10%, #000 40%,#3b0764 100%);
}

section {
  padding: 1rem 0;
}

#header {
  background-size: cover;
  background-image: 
    radial-gradient(75% 75% at 50% 50%, transparent, #000000 60%), 
    url(../assets/headerimg.jpg);
  h2 {
    
    font-size: 2rem;
  }
}

#card {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(135deg, #3B07642B 0%, #000000 75%);
  border: .1rem solid #d946ef50;
  }