<div class="bg-black flex flex-col gap-1 p-2 min-h-72 rounded-lg" id="card">
  <div>
    <span>img</span>
  </div>
  <div>
    <div>
      <h3>Título</h3>
    </div>
    <div>
      <h4>Descripción</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, corrupti!</p>
    </div>
    <div id="tecnologias">
      <span>Astro</span>
      <span>|</span>
      <span>Tailwind</span>
      <span>|</span>
      <span>TypeScript</span>
    </div>
  </div>
</div>