---
import Card from "./Card.astro"
import Boton from "./Boton.astro"
---
<section class="min-h-72 bg-neutral-800">
  <div>
    <h3>Proyectos</h3>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Boton/>
  </div>
</section>