---
import Card from "./Card.astro"
---
<section class="min-h-72">
  <div class="text-center">
    <h3 class="text-3xl pb-6">Estos son algunos de mis proyectos</h3>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 justify-items-stretch">
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
  </div>
</section>