---
const { titulo } = Astro.props
import '../styles/global.css'
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="bg-neutral-700 text-gray-50">
    <main class="max-w-5xl mx-auto">
      <h2>{ titulo }</h2>
      <slot/>
    </main>
  </body>
</html>